<launch>
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_odom" args="0 0 0 0 0 0 map odom" /> 
  <arg name="h" value="header: {frame_id: 'map', seq: 0, stamp: {nsecs: 0, secs: 0}}" />
  <arg name="orientation" value="orientation: {w: 1.0, x: 0.0, y: 0.0, z: 0.0}" />
  <arg name="scale" value="scale: {x: 0.1, y: 0.1, z: 0.1}" />
  <arg name="color" value="color: {a: 1.0, b: 1.0, g: 0.0, r: 1.0}"/>
  <arg name="position" value="position: {x: 0.0, y: 0.0, z: 0.0}"/>
  <arg name="pose" value="pose: {$(arg orientation), $(arg position)}"/>
  <arg name="lt" value="lifetime: {nsecs: 0, secs: 0}"/>

  <!-- Start of race track coordinates -->
  <arg name="p1" value="{x: 5, y: 6}"/>
  <arg name="p2" value="{x: 5.5, y: 6.25}"/>
  <arg name="p3" value="{x: 6, y: 7}"/>
  <arg name="p4" value="{x: 6.415, y: 8}"/>
  <arg name="p5" value="{x: 6.885, y: 9}"/>
  <arg name="p6" value="{x: 7.5, y: 9.41}"/>
  <arg name="p7" value="{x: 8, y: 9.5}"/>
  <arg name="p8" value="{x: 8.5, y: 9.415}"/>
  <arg name="p9" value="{x: 8.9, y: 9.2}"/>
  <arg name="p10" value="{x: 9.2, y: 8.9}"/>
  <arg name="p11" value="{x: 9.415, y: 8.5}"/>
  <arg name="p12" value="{x: 9.5, y: 8}"/>
  <arg name="p13" value="{x: 9.41, y: 7.5}"/>
  <arg name="p14" value="{x: 9, y: 6.885}"/>
  <arg name="p15" value="{x: 8, y: 6.415}"/>
  <arg name="p16" value="{x: 7, y: 6}"/>
  <arg name="p17" value="{x: 6.25, y: 5.5}"/>
  <arg name="p18" value="{x: 6, y: 5}"/>
  <arg name="p19" value="{x: 6.25, y: 4.5}"/>
  <arg name="p20" value="{x: 7, y: 4}"/>
  <arg name="p21" value="{x: 8, y: 3.585}"/>
  <arg name="p22" value="{x: 9, y: 3.115}"/>
  <arg name="p23" value="{x: 9.41, y: 2.5}"/>
  <arg name="p24" value="{x: 9.5, y: 2}"/>
  <arg name="p25" value="{x: 9.415, y: 1.5}"/>
  <arg name="p26" value="{x: 9.2, y: 1.1}"/>
  <arg name="p27" value="{x: 8.9, y: 0.8}"/>
  <arg name="p28" value="{x: 8.5, y: 0.585}"/>
  <arg name="p29" value="{x: 8, y: 0.5}"/>
  <arg name="p30" value="{x: 7.5, y: 0.59}"/>
  <arg name="p31" value="{x: 6.885, y: 1}"/>
  <arg name="p32" value="{x: 6.415, y: 2}"/>
  <arg name="p33" value="{x: 6, y: 3}"/>
  <arg name="p34" value="{x: 5.5, y: 3.75}"/>
  <arg name="p35" value="{x: 5, y: 4}"/>
  <arg name="p37" value="{x: 4.5, y: 3.75}"/>
  <arg name="p38" value="{x: 4, y: 3}"/>
  <arg name="p39" value="{x: 3.585, y: 2}"/>
  <arg name="p40" value="{x: 3.115, y: 1}"/>
  <arg name="p41" value="{x: 2.5, y: 0.59}"/>
  <arg name="p42" value="{x: 2, y: 0.5}"/>
  <arg name="p43" value="{x: 1.5, y: 0.585}"/>
  <arg name="p44" value="{x: 1.1, y: 0.8}"/>
  <arg name="p45" value="{x: 0.8, y: 1.1}"/>
  <arg name="p46" value="{x: 0.585, y: 1.5}"/>
  <arg name="p47" value="{x: 0.5, y: 2}"/>
  <arg name="p48" value="{x: 0.59, y: 2.5}"/>
  <arg name="p49" value="{x: 1, y: 3.115}"/>
  <arg name="p50" value="{x: 2, y: 3.585}"/>
  <arg name="p51" value="{x: 3, y: 4}"/>
  <arg name="p52" value="{x: 3.75, y: 4.5}"/>
  <arg name="p53" value="{x: 4, y: 5}"/>
  <arg name="p54" value="{x: 3.75, y: 5.5}"/>
  <arg name="p55" value="{x: 3, y: 6}"/>
  <arg name="p56" value="{x: 2, y: 6.415}"/>
  <arg name="p57" value="{x: 1, y: 6.885}"/>
  <arg name="p58" value="{x: 0.59, y: 7.5}"/>
  <arg name="p59" value="{x: 0.5, y: 8}"/>
  <arg name="p60" value="{x: 0.585, y: 8.5}"/>
  <arg name="p61" value="{x: 0.8, y: 8.9}"/>
  <arg name="p62" value="{x: 1.1, y: 9.2}"/>
  <arg name="p63" value="{x: 1.5, y: 9.415}"/>
  <arg name="p64" value="{x: 2, y: 9.5}"/>
  <arg name="p65" value="{x: 2.5, y: 9.41}"/>
  <arg name="p66" value="{x: 3.115, y: 9}"/>
  <arg name="p67" value="{x: 3.585, y: 8}"/>
  <arg name="p68" value="{x: 4, y: 7}"/>
  <arg name="p69" value="{x: 4.5, y: 6.25}"/>
  <arg name="p70" value="{x: 5, y: 6}"/>

  <!-- List of points that draw the racetrack -->
  <arg name="pts" value="points: [$(arg p1),$(arg p2),$(arg p3),$(arg p4),$(arg p5),$(arg p6),$(arg p7),$(arg p8),$(arg p9),$(arg p10),
    $(arg p11),$(arg p12),$(arg p13),$(arg p14),$(arg p15),$(arg p16),$(arg p17),$(arg p18),$(arg p19),$(arg p20),
    $(arg p21),$(arg p22),$(arg p23),$(arg p24),$(arg p25),$(arg p26),$(arg p27),$(arg p28),$(arg p29),$(arg p30),
    $(arg p31),$(arg p32),$(arg p33),$(arg p34),$(arg p35),$(arg p37),$(arg p38),$(arg p39),$(arg p40),
    $(arg p41),$(arg p42),$(arg p43),$(arg p44),$(arg p45),$(arg p46),$(arg p47),$(arg p48),$(arg p49),$(arg p50),
    $(arg p51),$(arg p52),$(arg p53),$(arg p54),$(arg p55),$(arg p56),$(arg p57),$(arg p58),$(arg p59),$(arg p60),
    $(arg p61),$(arg p62),$(arg p63),$(arg p64),$(arg p65),$(arg p66),$(arg p67),$(arg p68),$(arg p69),$(arg p70)]"/>

  
  <arg name="marker" value="'{$(arg h), ns: 'MWS', id: 0, type: 4, action: 0, $(arg pose), $(arg scale), $(arg color), $(arg lt), $(arg pts)}'" />
  <node name="pub1" pkg="rostopic" type="rostopic" args="pub /shape visualization_msgs/Marker $(arg marker)"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find virtual_racetracks_collection)/config/racetrack.rviz"/>
</launch>
